.wrapper {
    display: flex;
    gap: 5px;
}

p {
    font-size: 20px;
}

.button {
    /* width: 3px; */
    /* height: 35px; */
    padding: 5px 30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}