
.wrapper {
    text-align: center;
    margin: 0 auto;
}

.box {
    display: inline-flex; 
    background-color: #3e87a4;   
    border: 3px solid black;
    border-radius: 20px;
    width: 250px;
    height: 150px;
    margin: 10px 15px;
}

.text {
    font-size: 40px;
    color: white;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}